@model VaccinSchedule.Models.LoginModel
@{
    Layout = null;
    ViewBag.Title = "Log in";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        body
        {
            padding-top: 140px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
    <div class="container">
        @using (Html.BeginForm((string)ViewBag.FormAction, "Account", FormMethod.Post, new { Class = "form-signin" }))
        {
            @Html.ValidationSummary(true, "Log in was unsuccessful. Please correct the errors and try again.")

            <h2 class="form-signin-heading">Please sign in</h2>
            @Html.TextBoxFor(m => m.UserName, new
                    {
                        Class = "input-block-level",
                        PlaceHolder = @Html.NameFor(m => m.UserName)
                    })
            @Html.PasswordFor(m => m.Password, new
                   {
                       Class = "input-block-level",
                       PlaceHolder = @Html.NameFor(m => m.Password)
                   })
            <label class="checkbox">
                @Html.CheckBoxFor(m => m.RememberMe)
                Remember me 
                <p>@Html.ActionLink("Register", "Register") if you don't have an account.</p>
            </label>
            <button class="btn btn-large btn-primary" type="submit">Sign in</button>
        }
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
